@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  }

  /* primary button */
  .btn-primary {
    @apply text-white px-3 py-1 font-semibold rounded bg-[#FF7A57] hover:bg-orange-600 active:bg-orange-700 focus:outline-none focus:ring focus:ring-orange-300
  }
  .btn-secondary {
    @apply px-3 py-[3px] border border-[#FF7A57] rounded text-[#FF7A57] hover:text-white hover:bg-[#ff7a57] hover:shadow-lg
  }
  /*** container ***/
  .container {
    @apply w-full m-auto;
  }
